@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

:root {
  --clr-blue-9: hsl(206, 61%, 11%);
  --clr-blue-8: hsl(207, 60%, 18%);
  --clr-blue-7: hsl(206, 61%, 22%);
  --clr-blue-6: hsl(206, 41%, 30%);
  --clr-blue-5: hsl(206, 21%, 45%);
  --clr-blue-4: hsl(206, 17%, 61%);
  --clr-blue-3: hsl(206, 18%, 77%);
  --clr-blue-2: hsl(206, 18%, 84%);
  --clr-blue-1: hsl(206, 18%, 92%);

  --clr-prim-9: hsl(206, 24%, 11%);
  --clr-prim-8: hsl(205, 25%, 20%);
  --clr-prim-7: hsl(205, 25%, 23%);
  --clr-prim-6: hsl(203, 17%, 30%);
  --clr-prim-5: hsl(204, 9%, 46%);
  --clr-prim-4: hsl(204, 8%, 61%);
  --clr-prim-3: hsl(200, 8%, 77%);
  --clr-prim-2: hsl(204, 6%, 85%);
  --clr-prim-1: hsl(200, 8%, 92%);
}

* {
  transition: all 0.3s ease-in-out;
}
html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  /* font-family: "Merienda", cursive; */
  font-weight: 700;
  background-color: var(--clr-prim-8);
  color: white;
  font-family: "Roboto", sans-serif;
}
.scroll-tracker {
  position: fixed;
  inset: 0 0 auto;
  height: 3px;
  background-color: white;
  transform-origin: left;
  z-index: 1;
}
.animation-container {
  /* position: relative; */
  margin-bottom: 5rem;
}

/* set a height  */

.animated-card:not(:last-of-type) {
  height: 60vw;
}
.animated-card {
  position: relative;
  display: flex;
  flex-flow: column;
  /* border: 2px dotted crimson; */
}
img {
  /* opacity: 0.6; */
  width: 100%;
}
/* ========================================================================= */

.card-message {
  position: absolute;
  align-self: center;
  padding: 2rem;
  font-family: "Merienda", cursive;
  text-align: center;
  opacity: 0;
  /* transform: translateY(20px); */
  transition: all 0.5s ease-in-out;
}
.card-message.hero {
  top: 40vh;
  margin-inline: 2rem;
  padding: 2rem 4rem;
  background-color: hsla(205, 25%, 20%, 0.3);
  border-radius: 15px;
}
.card-message.hero p {
  font-size: 4rem;
  text-shadow: 3px 3px 10px black;
}

.card-message.simple {
  top: 60vh;
  padding: 3rem 5rem;
  /* background-color: rgba(255, 255, 255, 0.5); */
  /* border: 1px solid white; */
  border-radius: 10px;
  font-size: 4rem;
  text-shadow: 3px 3px 10px hsla(225, 38%, 16%, 0.8);
}

.card-message.show {
  transform: translateY(0px);
  opacity: 1;
}

.card-message a {
  display: inline-block;
  margin-top: 5rem;
  padding: 1.2rem 3rem;
  /* border: 1px solid white; */
  border-radius: 10px;
  background-color: hsla(0, 0%, 100%, 0.8);
  color: hsl(203, 37%, 34%);
  font-size: 2rem;
  text-decoration: none;
  box-shadow: 0px 3px 10px hsla(0, 0%, 0%, 0.5);
}
.card-message a:hover {
  background-color: white;
  box-shadow: 0px 6px 10px hsla(0, 0%, 0%, 0.5);
}
.card-message a:active {
  background-color: hsl(178, 100%, 25%);
  color: white;
}

#scroll-image-02 {
  mask-image: url(../img/lanscape-02-alpha.png);
  -webkit-mask-image: url(../img/lanscape-02-alpha.png);
  mask-size: 100%;
  -webkit-mask-size: 100%;
}
#scroll-image-03 {
  mask-image: url(../img/lanscape-04-alpha.png);
  -webkit-mask-image: url(../img/lanscape-04-alpha.png);
  mask-size: 100%;
  -webkit-mask-size: 100%;
}

/* Media query for vertical aspect ratio  */
@media (max-aspect-ratio: 1/1) {
  .animated-card:not(:last-of-type) {
    height: 80vh;
  }
  .animated-card {
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    overflow-x: clip;
    overflow-y: visible;
  }

  img {
    width: unset;
    height: 130vh;
    flex-shrink: 1;
  }
}

/* ========================================================================= */
/* Contact Form */
/* ========================================================================= */

.contact-form-wrapper {
  max-width: 700px;
  margin: 1rem auto;
  border: 1px solid var(--clr-prim-8);
  border-radius: 7px;
  box-shadow: 0 5px 5px hsla(206, 24%, 11%, 0.5);
  overflow: hidden;
}
.contact-form-wrapper h2 {
  width: 100%;
  padding-block: 2rem;
  background-color: var(--clr-prim-3);
  color: var(--clr-prim-8);
  border-bottom: 1px solid var(--clr-prim-4);
  text-align: center;
  font-size: 1.2rem;
}

.contact-form {
  display: flex;
  flex-flow: column;
  padding-top: 1.5rem;
  background-color: var(--clr-prim-2);
  color: var(--clr-prim-8);
}

.contact-form div:not(.form-footer) {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-block: 1rem;
  padding-inline: 1.5rem;
  /* align-self: stretch; */
  /* justify-self: stretch; */
  /* width: 100%; */
}

.contact-form input {
  flex-grow: 1;
  height: 3rem;
  margin-right: 2rem;
  padding-left: 1rem;
  background-color: var(--clr-prim-1);
  color: var(--clr-prim-8);
  border: 1px solid var(--clr-prim-4);
  border-radius: 5px;
}
.contact-form textarea {
  flex-grow: 1;
  height: 150px;
  margin-right: 2rem;
  padding: 1rem;
  background-color: var(--clr-prim-1);
  color: var(--clr-prim-8);
  border: 1px solid var(--clr-prim-4);
  border-radius: 5px;
}

.contact-form input:focus,
.contact-form textarea:focus {
  outline: unset;
  box-shadow: 0 3px 5px hsla(206, 24%, 11%, 0.3);
}

.contact-form label {
  display: inline-block;
  width: 96px;
  padding-right: 1rem;
  text-align: right;
}
.form-footer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 1.5rem;
  background-color: var(--clr-prim-3);
  border-top: 1px solid var(--clr-prim-4);
}

.form-button {
  margin: 1.5rem;
  padding: 0.75rem 4rem;
  border-bottom: 2px solid var(--clr-prim-8);
  border-radius: 5px;
  background-color: var(--clr-prim-6);
  color: var(--clr-prim-1);
  transition: all 0.2s;
}
.form-button:hover {
  background-color: var(--clr-prim-7);
  border-bottom: 2px solid var(--clr-prim-9);
}
.form-button:active {
  background-color: var(--clr-prim-2);
  border-bottom: 2px solid var(--clr-prim-4);
  color: var(--clr-prim-6);
}
/* ========================================================================= */
/* MEDIA QUERY */
/* ========================================================================= */

/* Screen size between: 1024 - 1366 */
@media screen and (max-width: 1365px) {
}

/* Screen size between: 768 - 1024 */
@media screen and (max-width: 1023px) {
}
/* Screen size between: 0 - 768 */
@media screen and (max-width: 767px) {
}
